/* body {
    background-image: url("https://images6.alphacoders.com/589/thumb-1920-589735.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    background-attachment: fixed;
} */
/* body{
    background: url("https://images6.alphacoders.com/589/thumb-1920-589735.png") no-repeat fixed;
} */
p.dotted{
    border-style: dotted;

}
p.dashed{
    border-style: dashed;

}
p.solid{
    border-style: solid;

}
p.dotted{
    border-style: dotted;

}
p.dotted{
    border-style: dotted;

}
p.dotted{
    border-style: dotted;

}
p.dotted{
    border-style: dotted;

}
p.dotted{
    border-style: dotted;

}
p.dotted{
    border-style: dotted;

}
p.dotted{
    border-style: dotted;

}
p.dotted{
    border-style: dotted;

}
p.dotted{
    border-style: dotted;

}

